# ESP-IDF
firmware/build/
firmware/managed_components/
firmware/sdkconfig.old
firmware/.cache/

# ROS2
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Docker
docker/*.tar

# OS
.DS_Store
__pycache__/
*.pyc
*.egg-info/
